"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d9e15803-719a-4ab4-97b8-03b8403fb795"
      loggerLevel: "verbose"
    ruby:
      rubocop_path: "/Users/tdunn/.rbenv/versions/2.4.0/bin/rubocop"
    scss:
      beautify_on_save: true
      configPath: "/Users/tdunn/.dotfiles/_configs/.csscomb.json"
      convert_quotes: "double"
      default_beautifier: "CSScomb"
      preserve_newlines: true
    typescript:
      beautify_on_save: true
      end_with_newline: true
      space_in_paren: true
    yaml: {}
  core:
    disabledPackages: [
      "linter-rubocop"
      "plain-simple"
      "markdown-preview-plus"
    ]
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
    titleBar: "custom-inset"
  "default-language":
    defaultLanguage: "shell script"
  editor:
    autoIndent: false
    fontFamily: "Inconsolata-dz for Powerline"
    fontSize: 12
    softWrap: true
  "exception-reporting":
    userId: "2b0e0e15-3f3d-4321-83dd-ccabce2208aa"
  gist:
    token: "GIST_ACCESS_TOKEN"
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
    userToken: "GIST_ACCESS_TOKEN"
  github:
    filesystemEventDiagnostics: true
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "html-to-css":
    "bem-group": true
  jslint:
    validateOnChange: true
  "language-log":
    tail: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/Users/tdunn/.config/yarn/global/node_modules"
    useGlobalEslint: true
  "linter-rubocop":
    command: "/Users/tdunn/.rbenv/versions/2.4.0/bin/rubocop"
    disableWhenNoConfigFile: true
  "linter-scss-lint":
    additionalArguments: "4"
    disableWhenNoConfigFileInPath: true
  "linter-tslint":
    fixOnSave: true
    ignoreTypings: true
  "linter-ui-default":
    decorateOnTreeView: "None"
    hidePanelWhenEmpty: true
    panelRepresents: "Entire Project"
    showPanel: true
    tooltipFollows: "Keyboard"
  "markdown-preview":
    breakOnSingleNewline: true
    openPreviewInSplitPane: false
    useGitHubStyle: true
  "markdown-preview-enhanced":
    previewTheme: "one-light.css"
  "markdown-preview-plus":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    hideDockButtons: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    markerType: "native-dot"
  "ruby-block":
    highlightLineNumber: true
  "svg-preview":
    openPreviewAutomatically: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
".source.yaml":
  editor:
    autoIndentOnPaste: true
