packages: [
  "angular2-snippets"
  "atom-beautify"
  "atom-ng2-generator-buddy"
  "atom-typescript"
  "autoclose-html"
  "busy-signal"
  "chester-atom-syntax"
  "default-language"
  "file-icons"
  "gist"
  "gist-it"
  "git-time-machine"
  "html-to-css"
  "improved-chester-atom-syntax"
  "intentions"
  "jslint"
  "language-babel"
  "language-dotenv"
  "language-log"
  "lint"
  "linter"
  "linter-js-yaml"
  "linter-rubocop"
  "linter-scss-lint"
  "linter-tslint"
  "linter-ui-default"
  "markdown-preview-plus"
  "markdown-scroll-sync"
  "merge-conflicts"
  "minimap"
  "minimap-pigments"
  "multi-cursor"
  "open-in-browser"
  "open-in-browsers"
  "package-sync"
  "pigments"
  "plain-simple"
  "ruby-block"
  "svg-preview"
  "template-generator"
  "tree-view-git-status"
]
