packages: [
  "atom-beautify"
  "atom-typescript"
  "autoclose-html"
  "busy-signal"
  "default-language"
  "file-icons"
  "git-time-machine"
  "html-to-css"
  "improved-chester-atom-syntax"
  "intentions"
  "language-babel"
  "language-generic-config"
  "language-log"
  "lint"
  "linter"
  "linter-eslint"
  "linter-js-yaml"
  "linter-rubocop"
  "linter-scss-lint"
  "linter-tslint"
  "linter-ui-default"
  "merge-conflicts"
  "minimap-pigments"
  "multi-cursor"
  "open-in-browser"
  "open-in-browsers"
  "package-sync"
  "pigments"
  "ruby-block"
  "tree-ignore"
]
